$breadcrumbs-background-color: #3b4859;
$page-title-color: #ffffff;
$breadcrumbs-link-color: #fcfcfc;
$breadcrumbs-link-current-page-color: #fcfcfc;
$compliancemanager-container-background-color: #3b4859;
$compliancemanager-container-border-color: #202226;
$filter-container-label-text-color: #ffffff;
$compliance-heading-background-color: rgba(129, 170, 225, 1);
$assessment-text-color: #ffffff;
$assessment-heading-background-color: rgba(129, 170, 225, 1);