$breadcrumbs-background-color: #eff2f7;
$page-title-color: #3b4859;
$breadcrumbs-link-color: #89898a;
$breadcrumbs-link-current-page-color: #2a9ce7;
$compliancemanager-container-background-color: #ffffff;
$compliancemanager-container-border-color: #f5f6f5;
$filter-container-label-text-color: #3b4859;
$compliance-heading-background-color: rgba(129, 170, 225, 0.2);
$assessment-text-color: #3b4859;
$assessment-heading-background-color: rgba(129, 170, 225, 0.2);