.results-container{
  .heading{
    border-bottom: 1px solid #D9E4F2;
    h3{
        font-size: 14px;
        line-height: 35px;
        font-weight: 500;
        color: $results-text-color;
    }
  }
  .search-box{
    .search-control-group{
      position: relative;
      width: 300px;
      .input-group-text{
        max-width: 100%;
        text-align: left;
        padding-left: 35px;
        width: 100%;
        border: 1px solid #8392a7;
        background-color: #ffffff;
        font-size: 13px;
        color: #8998AC;
        font-weight: 400;
        height: 36px;
      }
      button{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 36px;
        height: 36px;
      }
    }
    .file-export{
      position: relative;
      a{
          padding: 5px 10px 4px !important;
          min-width: auto;
      }
      .file-export-toggle{
          display: none;
          position: absolute;
          right: 0px;
          top: 35px;
          z-index: 1;
          background-color: #e6e6e6;
          width: 230px;
          padding: 5px;
          text-align: left;
          &.active{
              display: block;
          }
          ul{
              padding: 0;
              margin: 0;
              list-style: none;
              li{
                  font-size: 12px;
                  line-height: 20px;
                  color: #3B4859;
                  font-weight: 500;
                  display: block;
                  padding-bottom: 3px;
                  img{
                      max-width: 20px;
                      height: auto;
                  }
              }
          }
      }
    }
  }
}

.exclusion-details {
  display: grid;
  .container-inner {
    overflow-x: scroll;
    .exclusion-data-table {
      width: 1280px;
      background-color: #ffffff;
      font-size: 13px;
      tr{
        th{
          padding: 8px 10px 8px 10px;
          color: #3b4859;
        }
        td{
          padding: 8px 10px 8px 10px;
          color: #3b4859;
        }
        &:nth-child(even){
          background-color: #f8f9fb;
        }
      }
      .pointer-label {
        position: relative;
        padding-left: 22px;
        .checkbox {
          position: absolute;
          left: 0;
          top: 3px;
        }
      }
      .btn-link {
        color: #3b7cff !important;
        padding: 0 5px;
        font-size: 18px;
        line-height: 22px;
        vertical-align: middle;

        &:last-child {
          padding-top: 4px;
        }

        &:first-child {
          padding-top: 3px;
        }
      }
    }  
  }
}

@media (max-width: 767px){
  .results-container{
    .exclusion-button{
      text-align: left;
    }
    .search-box {
      .search-control-group{
        width: 100%;
      }
    }
  }
}


.exclusion-details{
  display: grid;
  width: 100%;
  .container-inner{
    overflow-x: scroll;
    margin-top: 20px;
    margin-bottom: 20px;     
    .exclusion-data-table{
      width: 1280px;
      thead{
        tr{
          background-color: #ffffff;
          th{
            color: #3b4859;
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
            padding: 15px;
            text-align: center;
            &:nth-child(1){
              padding-right: 5px;
            }
            &:nth-child(2){
              padding-left: 5px;
            }
          }
        }
      }
      tbody{
        tr{
          background-color: #F0F3F7;
          td{
            background-color: #F0F3F7;
            color: #3b4859;
            font-size: 12px;
            line-height: 32px;
            font-weight: 600;
            padding: 15px;
            text-align: center;
            &:nth-child(1){
              padding-right: 5px;
            }
            &:nth-child(2){
                padding-left: 5px;
            }
            a{
              display: block;
              color: #3b4859;
            }
            &.result-text{
              color: #3B7CFF;
              a{
                color: #3B7CFF;
              }
            }
            &.there-no-data{
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}