@media (min-width: 1200px) {
  .col-xl-4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-xl-8 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

/*********************************** Buttons *********************************/
.blue-button {
  background: #3b7cff !important;
  color: #ffffff !important;
  border: none !important;
  padding: 7px 18px !important;
  border-radius: 0px !important;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block !important;
  min-width: 100px;
  text-align: center;
}
.blue-button:hover,
.blue-button:focus {
  background: #0f5efd !important;
  color: #ffffff !important;
}

.gray-button {
  background: #dde4e9 !important;
  color: #8392a7 !important;
  border: none !important;
  padding: 7px 18px !important;
  border-radius: 0px !important;
  margin-right: 10px;
  display: inline-block !important;
  min-width: 100px;
  text-align: center;
}
.gray-button:hover,
.gray-button:focus {
  background: #dbe0e4 !important;
  color: #8392a7 !important;
}

.white-button {
  background: white !important;
  min-width: 100px;
  color: #3b4859 !important;
  border: none !important;
  padding: 7px 18px !important;
  border-radius: 0px !important;
  margin-right: 10px;
  display: inline-block !important;
  text-align: center;
}
.white-button:hover,
.white-button:focus {
  background: #e6e6e6 !important;
  color: #3b4859 !important;
}
.white-button i {
  color: #57a4ff !important;
}

a:focus,
a:hover {
  color: #000000;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.m-l-0 {
  margin-left: 0 !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.width-auto {
  width: auto;
}

.min-width-inherit {
  min-width: inherit !important;
}

.border-bottom-0 {
  border-bottom: none !important;
}

.orange {
  color: #ff8f00;
}

.yellow-green {
  color: #7ed321;
}

.red {
  color: #f93d3d;
}

.yellow {
  color: #ffff00;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.compliancemanager-page-container {
  background-color: #ffffff;
  margin: 10px 20px;
  border-radius: 10px;
  padding-bottom: 10px;
}
.compliancemanager-page-container .common-container {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

@media (max-width: 992px) {
  .breadcrumbs-container .breadcrumbs {
    float: none;
    padding-top: 5px;
  }
}

.filter-container .filter-control-group {
  max-width: 250px;
  padding-left: 0px;
}
.filter-container .filter-control-group.clear-filters {
  margin-top: 23px;
  position: relative;
  padding-bottom: 0;
}
.filter-container .filter-control-group.clear-filters label:after {
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  content: "";
  background-color: #f0f3f7;
  z-index: 0;
  position: absolute;
  border-radius: 3px;
}
.filter-container .filter-control-group.clear-filters label span {
  display: inline-block;
  padding-left: 45px;
  color: #3b4859;
  vertical-align: middle;
  padding-top: 0;
  cursor: pointer;
  position: relative;
  line-height: 35px;
}
.filter-container .filter-control-group.clear-filters label span:before {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(-45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group.clear-filters label span:after {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group .form-control {
  background-color: #f0f3f7 !important;
  border: none !important;
  font-size: 12px;
  cursor: pointer;
  height: 35px;
}
.filter-container .filter-control-group label {
  color: #3b4859;
  padding-bottom: 3px;
  font-size: 12px;
}

.filter-container .assessments {
  margin-top: 23px;
}
.filter-container .assessments .settings {
  position: relative;
}
.filter-container .assessments .settings a {
  padding: 5px 10px 4px !important;
  min-width: auto;
}
.filter-container .assessments .settings .settings-toggle {
  display: none;
  position: absolute;
  right: 10px;
  top: 35px;
  z-index: 1;
  background-color: #e6e6e6;
  width: 180px;
  padding: 5px;
  text-align: right;
}
.filter-container .assessments .settings .settings-toggle.active {
  display: block;
}
.filter-container .assessments .settings .settings-toggle ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter-container .assessments .settings .settings-toggle ul li {
  font-size: 12px;
  line-height: 18px;
  color: #3b4859;
  font-weight: 500;
  display: block;
  padding-bottom: 3px;
}
.filter-container .assessments .file-export {
  position: relative;
}
.filter-container .assessments .file-export a {
  padding: 5px 10px 4px !important;
  min-width: auto;
}
.filter-container .assessments .file-export .file-export-toggle {
  display: none;
  position: absolute;
  right: 0px;
  top: 35px;
  z-index: 1;
  background-color: #e6e6e6;
  width: 230px;
  padding: 5px;
}
.filter-container .assessments .file-export .file-export-toggle.active {
  display: block;
}
.filter-container .assessments .file-export .file-export-toggle ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter-container .assessments .file-export .file-export-toggle ul li {
  font-size: 12px;
  line-height: 20px;
  color: #3b4859;
  font-weight: 500;
  display: block;
  padding-bottom: 3px;
}
.filter-container .assessments .file-export .file-export-toggle ul li img {
  max-width: 20px;
  height: auto;
}

.compliance-main-box {
  overflow: hidden;
  box-shadow: 0px 1px 5px #00000029;
  border-radius: 3px;
  margin-bottom: 30px;
  cursor: pointer;
}
.compliance-main-box .heading {
  padding: 7px 10px;
  background-color: rgba(129, 170, 225, 0.2);
  box-shadow: 0px 1px 0px #00000029;
}
.compliance-main-box .heading strong {
  font-size: 13px;
  line-height: 20px;
  color: #3b4859;
  font-weight: 500;
}
.compliance-main-box .heading i {
  font-size: 18px;
  line-height: 20px;
  color: #3b4859;
  font-weight: 500;
}
.compliance-main-box .compliance-inner {
  background: #f0f3f7;
  padding: 30px 0;
}
.compliance-main-box .compliance-inner p {
  font-size: 14px;
  line-height: 20px;
  color: #3b4859;
  font-weight: 500;
  margin-bottom: 7px;
}
.compliance-main-box .compliance-inner span {
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
}
.compliance-main-box .compliance-inner a {
  font-size: 13px;
  line-height: 40px;
  font-weight: 500;
  color: #3b4859;
}

@media (max-width: 1200px) {
  .filter-container .assessments {
    float: left;
  }
}

.filter-container .filter-control-group {
  max-width: 250px;
  padding-left: 0px;
}
.filter-container .filter-control-group.clear-filters {
  margin-top: 23px;
  position: relative;
  padding-bottom: 0;
}
.filter-container .filter-control-group.clear-filters label:after {
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  content: "";
  background-color: #f0f3f7;
  z-index: 0;
  position: absolute;
  border-radius: 3px;
}
.filter-container .filter-control-group.clear-filters label span {
  display: inline-block;
  padding-left: 45px;
  color: #3b4859;
  vertical-align: middle;
  padding-top: 0;
  cursor: pointer;
  position: relative;
  line-height: 35px;
}
.filter-container .filter-control-group.clear-filters label span:before {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(-45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group.clear-filters label span:after {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group .form-control {
  background-color: #f0f3f7 !important;
  border: none !important;
  font-size: 12px;
  cursor: pointer;
  height: 35px;
}
.filter-container .filter-control-group label {
  color: #3b4859;
  padding-bottom: 3px;
  font-size: 12px;
}

.filter-container .search-control-group {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  width: 450px;
}
.filter-container .search-control-group .input-group-text {
  max-width: 100%;
  text-align: left;
  padding-left: 35px;
  width: 100%;
  border: 1px solid #8392a7;
  background-color: #ffffff;
  font-size: 13px;
  color: #8998ac;
  font-weight: 400;
  height: 36px;
}
.filter-container .search-control-group button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

.filter-container .table-data-label {
  margin-top: 20px;
  border-bottom: solid 1px #eff2f7;
}
.filter-container .table-data-label span {
  font-size: 16px;
  font-family: Montserrat;
  color: #3b4859;
  padding-top: 40px;
}
.filter-container .table-data-label .blue-button {
  float: right;
}

.results-container .heading {
  border-bottom: 1px solid #d9e4f2;
}
.results-container .heading h3 {
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
  color: #3b4859;
}

.results-container .search-box .search-control-group {
  position: relative;
  width: 300px;
}
.results-container .search-box .search-control-group .input-group-text {
  max-width: 100%;
  text-align: left;
  padding-left: 35px;
  width: 100%;
  border: 1px solid #8392a7;
  background-color: #ffffff;
  font-size: 13px;
  color: #8998ac;
  font-weight: 400;
  height: 36px;
}
.results-container .search-box .search-control-group button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

.results-container .search-box .file-export {
  position: relative;
}
.results-container .search-box .file-export a {
  padding: 5px 10px 4px !important;
  min-width: auto;
}
.results-container .search-box .file-export .file-export-toggle {
  display: none;
  position: absolute;
  right: 0px;
  top: 35px;
  z-index: 1;
  background-color: #e6e6e6;
  width: 230px;
  padding: 5px;
  text-align: left;
}
.results-container .search-box .file-export .file-export-toggle.active {
  display: block;
}
.results-container .search-box .file-export .file-export-toggle ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.results-container .search-box .file-export .file-export-toggle ul li {
  font-size: 12px;
  line-height: 20px;
  color: #3b4859;
  font-weight: 500;
  display: block;
  padding-bottom: 3px;
}
.results-container .search-box .file-export .file-export-toggle ul li img {
  max-width: 20px;
  height: auto;
}

.exclusion-details {
  display: grid;
}
.exclusion-details .container-inner {
  overflow-x: scroll;
}
.exclusion-details .container-inner .exclusion-data-table {
  width: 1280px;
  background-color: #ffffff;
  font-size: 13px;
}
.exclusion-details .container-inner .exclusion-data-table tr th {
  padding: 8px 10px 8px 10px;
  color: #3b4859;
}
.exclusion-details .container-inner .exclusion-data-table tr td {
  padding: 8px 10px 8px 10px;
  color: #3b4859;
}
.exclusion-details .container-inner .exclusion-data-table tr:nth-child(even) {
  background-color: #f8f9fb;
}
.exclusion-details .container-inner .exclusion-data-table .pointer-label {
  position: relative;
  padding-left: 22px;
}
.exclusion-details
  .container-inner
  .exclusion-data-table
  .pointer-label
  .checkbox {
  position: absolute;
  left: 0;
  top: 3px;
}
.exclusion-details .container-inner .exclusion-data-table .btn-link {
  color: #3b7cff !important;
  padding: 0 5px;
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
}
.exclusion-details .container-inner .exclusion-data-table .btn-link:last-child {
  padding-top: 4px;
}
.exclusion-details
  .container-inner
  .exclusion-data-table
  .btn-link:first-child {
  padding-top: 3px;
}

@media (max-width: 767px) {
  .results-container .exclusion-button {
    text-align: left;
  }
  .results-container .search-box .search-control-group {
    width: 100%;
  }
}

.filter-container .filter-control-group {
  max-width: 250px;
  padding-left: 0px;
}
.filter-container .filter-control-group.clear-filters {
  margin-top: 23px;
  position: relative;
  padding-bottom: 0;
}
.filter-container .filter-control-group.clear-filters label:after {
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  content: "";
  background-color: #f0f3f7;
  z-index: 0;
  position: absolute;
  border-radius: 3px;
}
.filter-container .filter-control-group.clear-filters label span {
  display: inline-block;
  padding-left: 45px;
  color: #3b4859;
  vertical-align: middle;
  padding-top: 0;
  cursor: pointer;
  position: relative;
  line-height: 35px;
}
.filter-container .filter-control-group.clear-filters label span:before {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(-45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group.clear-filters label span:after {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group .form-control {
  background-color: #f0f3f7 !important;
  border: none !important;
  font-size: 12px;
  cursor: pointer;
  height: 35px;
}
.filter-container .filter-control-group label {
  color: #3b4859;
  padding-bottom: 3px;
  font-size: 12px;
}

.filter-container .search-control-group {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  width: 450px;
}
.filter-container .search-control-group .input-group-text {
  max-width: 100%;
  text-align: left;
  padding-left: 35px;
  width: 100%;
  border: 1px solid #8392a7;
  background-color: #ffffff;
  font-size: 13px;
  color: #8998ac;
  font-weight: 400;
  height: 36px;
}
.filter-container .search-control-group button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

.filter-container .table-data-label {
  margin-top: 20px;
  border-bottom: solid 1px #eff2f7;
}
.filter-container .table-data-label span {
  font-size: 16px;
  font-family: Montserrat;
  color: #3b4859;
  padding-top: 40px;
}
.filter-container .table-data-label .blue-button {
  float: right;
}

.results-container .heading {
  border-bottom: 1px solid #d9e4f2;
}
.results-container .heading h3 {
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
  color: #3b4859;
}

.results-container .search-box .search-control-group {
  position: relative;
  width: 300px;
}
.results-container .search-box .search-control-group .input-group-text {
  max-width: 100%;
  text-align: left;
  padding-left: 35px;
  width: 100%;
  border: 1px solid #8392a7;
  background-color: #ffffff;
  font-size: 13px;
  color: #8998ac;
  font-weight: 400;
  height: 36px;
}
.results-container .search-box .search-control-group button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

.results-container .search-box .file-export {
  position: relative;
}
.results-container .search-box .file-export a {
  padding: 5px 10px 4px !important;
  min-width: auto;
}
.results-container .search-box .file-export .file-export-toggle {
  display: none;
  position: absolute;
  right: 0px;
  top: 35px;
  z-index: 1;
  background-color: #e6e6e6;
  width: 230px;
  padding: 5px;
  text-align: left;
}
.results-container .search-box .file-export .file-export-toggle.active {
  display: block;
}
.results-container .search-box .file-export .file-export-toggle ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.results-container .search-box .file-export .file-export-toggle ul li {
  font-size: 12px;
  line-height: 20px;
  color: #3b4859;
  font-weight: 500;
  display: block;
  padding-bottom: 3px;
}
.results-container .search-box .file-export .file-export-toggle ul li img {
  max-width: 20px;
  height: auto;
}

.exclusion-details {
  display: grid;
}
.exclusion-details .container-inner {
  overflow-x: scroll;
}
.exclusion-details .container-inner .exclusion-data-table {
  width: 1280px;
  background-color: #ffffff;
  font-size: 13px;
}
.exclusion-details .container-inner .exclusion-data-table tr th {
  padding: 8px 10px 8px 10px;
  color: #3b4859;
}
.exclusion-details .container-inner .exclusion-data-table tr td {
  padding: 8px 10px 8px 10px;
  color: #3b4859;
}
.exclusion-details .container-inner .exclusion-data-table tr:nth-child(even) {
  background-color: #f8f9fb;
}
.exclusion-details .container-inner .exclusion-data-table .pointer-label {
  position: relative;
  padding-left: 22px;
}
.exclusion-details
  .container-inner
  .exclusion-data-table
  .pointer-label
  .checkbox {
  position: absolute;
  left: 0;
  top: 3px;
}
.exclusion-details .container-inner .exclusion-data-table .btn-link {
  color: #3b7cff !important;
  padding: 0 5px;
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
}
.exclusion-details .container-inner .exclusion-data-table .btn-link:last-child {
  padding-top: 4px;
}
.exclusion-details
  .container-inner
  .exclusion-data-table
  .btn-link:first-child {
  padding-top: 3px;
}

@media (max-width: 767px) {
  .results-container .exclusion-button {
    text-align: left;
  }
  .results-container .search-box .search-control-group {
    width: 100%;
  }
}

.filter-container .filter-control-group {
  max-width: 250px;
  padding-left: 0px;
}
.filter-container .filter-control-group.clear-filters {
  margin-top: 23px;
  position: relative;
  padding-bottom: 0;
}
.filter-container .filter-control-group.clear-filters label:after {
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  content: "";
  background-color: #f0f3f7;
  z-index: 0;
  position: absolute;
  border-radius: 3px;
}
.filter-container .filter-control-group.clear-filters label span {
  display: inline-block;
  padding-left: 45px;
  color: #3b4859;
  vertical-align: middle;
  padding-top: 0;
  cursor: pointer;
  position: relative;
  line-height: 35px;
}
.filter-container .filter-control-group.clear-filters label span:before {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(-45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group.clear-filters label span:after {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group .form-control {
  background-color: #f0f3f7 !important;
  border: none !important;
  font-size: 12px;
  cursor: pointer;
  height: 35px;
}
.filter-container .filter-control-group label {
  color: #3b4859;
  padding-bottom: 3px;
  font-size: 12px;
}

.assessment-boxes .heading {
  border-bottom: 1px solid #d9e4f2;
}
.assessment-boxes .heading h3 {
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
  color: #3b4859;
}

.assessment-boxes .search-box .search-control-group {
  position: relative;
  width: 250px;
}
.assessment-boxes .search-box .search-control-group .input-group-text {
  max-width: 100%;
  text-align: left;
  padding-left: 35px;
  width: 100%;
  border: 1px solid #8392a7;
  background-color: #ffffff;
  font-size: 13px;
  color: #8998ac;
  font-weight: 400;
  height: 36px;
}
.assessment-boxes .search-box .search-control-group button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

.assessment-boxes .search-box .view a {
  color: #d9e4f2;
  font-size: 22px;
  line-height: 36px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 2px;
}

.assessment-boxes .assessment-box {
  overflow: hidden;
  box-shadow: 0px 1px 5px #00000029;
  border-radius: 3px;
  margin-bottom: 30px;
}
.assessment-boxes .assessment-box .assessment-heading {
  padding: 3px 3px 3px 10px;
  background-color: rgba(129, 170, 225, 0.2);
  box-shadow: 0px 1px 0px #00000029;
}
.assessment-boxes .assessment-box .assessment-heading strong {
  font-size: 14px;
  line-height: 30px;
  color: #3b4859;
  font-weight: 600;
  vertical-align: top;
  padding-left: 5px;
}
.assessment-boxes .assessment-box .assessment-heading .left-arrow {
  font-size: 18px;
  line-height: 30px;
  color: #3b4859;
  font-weight: 500;
  vertical-align: top;
}
.assessment-boxes .assessment-box .assessment-heading .assessment-toggle-main {
  position: relative;
}
.assessment-boxes
  .assessment-box
  .assessment-heading
  .assessment-toggle-main
  .gray-button {
  padding: 3px 10px !important;
  vertical-align: top;
  font-size: 16px;
  background-color: #f0f3f7 !important;
  color: #707070 !important;
}
.assessment-boxes
  .assessment-box
  .assessment-heading
  .assessment-toggle-main
  .assessment-toggle {
  position: absolute;
  right: 35px;
  top: 0;
  background-color: #efefef;
  width: 85px;
  text-align: center;
  border-radius: 3px;
}
.assessment-boxes
  .assessment-box
  .assessment-heading
  .assessment-toggle-main
  .assessment-toggle:after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5.5px 0 5.5px 11px;
  border-color: transparent transparent transparent #ebebeb;
  content: "";
  position: absolute;
  right: -10px;
  top: 10px;
}
.assessment-boxes
  .assessment-box
  .assessment-heading
  .assessment-toggle-main
  .assessment-toggle
  a {
  padding-left: 5px;
  padding-right: 5px;
}
.assessment-boxes .assessment-box .assessment-inner {
  background: #f0f3f7;
  padding: 15px 10px;
  cursor: pointer;
}
.assessment-boxes .assessment-box .assessment-inner .cat-sub-name {
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  color: #3b4859;
}
.assessment-boxes .assessment-box .assessment-inner .cat-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  color: #3b4859;
}
.assessment-boxes .assessment-box .assessment-inner .rules-policies-text {
  font-size: 11px;
  line-height: 18px;
  font-weight: 500;
  color: #9a9b9c;
}
.assessment-boxes .assessment-box .assessment-inner .privacy-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #545557;
}
.assessment-boxes .assessment-box .assessment-inner .reference-text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #545557;
}
.assessment-boxes .assessment-box .assessment-inner .reference-text a {
  color: #004fac;
}

.assessment-boxes .pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.assessment-boxes .pagination ul li {
  display: inline-block;
}
.assessment-boxes .pagination ul li a {
  display: block;
  padding: 5px 10px;
  font-size: 11px;
  color: #868f9b;
  line-height: 16px;
  border: 1px solid #cbcfd4;
  border-right: none;
}
.assessment-boxes .pagination ul li a:hover {
  background-color: #cbcfd4;
}
.assessment-boxes .pagination ul li a.active {
  background-color: #cbcfd4;
  color: black;
}
.assessment-boxes .pagination ul li a.deactive {
  background-color: white;
  color: black;
}
.assessment-boxes .pagination ul li a.desable {
  background-color: #5e5757;
  color: white;
}
.assessment-boxes .pagination ul li a.enable {
  background-color: #3b4859;
  color: #ffffff;
}
.assessment-boxes .pagination ul li.previous a {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.assessment-boxes .pagination ul li.next a {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #cbcfd4;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.there-no-data {
  text-align: center;
  padding-top: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.environment-text {
  color: #3b4859;
  font-weight: 16px;
  line-height: 20px;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .filter-container .assessments {
    float: left;
  }
}

@media (max-width: 767px) {
  .assessment-boxes .heading h3 {
    font-size: 12px;
  }
  .assessment-boxes .search-box .search-control-group {
    width: 100%;
  }
}

.filter-container .filter-control-group {
  max-width: 250px;
  padding-left: 0px;
}
.filter-container .filter-control-group.clear-filters {
  margin-top: 23px;
  position: relative;
  padding-bottom: 0;
}
.filter-container .filter-control-group.clear-filters label:after {
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  content: "";
  background-color: #f0f3f7;
  z-index: 0;
  position: absolute;
  border-radius: 3px;
}
.filter-container .filter-control-group.clear-filters label span {
  display: inline-block;
  padding-left: 45px;
  color: #3b4859;
  vertical-align: middle;
  padding-top: 0;
  cursor: pointer;
  position: relative;
  line-height: 35px;
}
.filter-container .filter-control-group.clear-filters label span:before {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(-45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group.clear-filters label span:after {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group .form-control {
  background-color: #f0f3f7 !important;
  border: none !important;
  font-size: 12px;
  cursor: pointer;
  height: 35px;
}
.filter-container .filter-control-group label {
  color: #3b4859;
  padding-bottom: 3px;
  font-size: 12px;
}

.assessment-boxes .heading {
  border-bottom: 1px solid #d9e4f2;
}
.assessment-boxes .heading h3 {
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
  color: #3b4859;
}

.assessment-boxes .search-box .search-control-group {
  position: relative;
  width: 250px;
}
.assessment-boxes .search-box .search-control-group .input-group-text {
  max-width: 100%;
  text-align: left;
  padding-left: 35px;
  width: 100%;
  border: 1px solid #8392a7;
  background-color: #ffffff;
  font-size: 13px;
  color: #8998ac;
  font-weight: 400;
  height: 36px;
}
.assessment-boxes .search-box .search-control-group button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

.assessment-boxes .framework-box {
  padding-bottom: 30px;
}
.assessment-boxes .framework-box .framework-box-heading {
  background-color: rgba(129, 170, 225, 0.2);
  height: 34px;
  padding: 5px 10px;
  width: auto;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
}
.assessment-boxes .framework-box .framework-box-heading .heading-img {
  width: 24px;
  height: auto;
  padding-right: 7px;
}
.assessment-boxes .framework-box .framework-box-heading .heading-img img {
  max-width: 100%;
  height: auto;
}
.assessment-boxes .framework-box .framework-box-heading strong {
  color: #3c495a;
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}
.assessment-boxes .framework-box .framework-inner {
  background: #f0f3f7;
  -webkit-border-radius: 7px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 7px;
  -moz-border-radius-topleft: 0;
  border-radius: 7px;
  border-top-left-radius: 0;
}
.assessment-boxes .framework-box .framework-inner .framework-table {
  width: 100%;
}
.assessment-boxes .framework-box .framework-inner .framework-table th {
  padding: 15px;
  color: #3c495a;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  border-bottom: 1px solid #eaecea;
  border-right: 1px solid #eaecea;
}
.assessment-boxes
  .framework-box
  .framework-inner
  .framework-table
  th:last-child {
  border-right: none;
}
.assessment-boxes
  .framework-box
  .framework-inner
  .framework-table
  th
  .pointer-label {
  position: relative;
  padding-left: 22px;
}
.assessment-boxes
  .framework-box
  .framework-inner
  .framework-table
  th
  .pointer-label
  .checkbox {
  position: absolute;
  left: 0;
  top: 3px;
}
.assessment-boxes .framework-box .framework-inner .framework-table td {
  padding: 15px;
  color: #3c495a;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  border-bottom: 1px solid #eaecea;
  border-right: 1px solid #eaecea;
}
.assessment-boxes
  .framework-box
  .framework-inner
  .framework-table
  td:last-child {
  border-right: none;
}
.assessment-boxes
  .framework-box
  .framework-inner
  .framework-table
  td
  .pointer-label {
  position: relative;
  padding-left: 22px;
}
.assessment-boxes
  .framework-box
  .framework-inner
  .framework-table
  td
  .pointer-label
  .checkbox {
  position: absolute;
  left: 0;
  top: 3px;
}
.assessment-boxes
  .framework-box
  .framework-inner
  .framework-table
  tr:last-child
  td {
  border-bottom: none;
}

.assessment-boxes .pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.assessment-boxes .pagination ul li {
  display: inline-block;
}
.assessment-boxes .pagination ul li a {
  display: block;
  padding: 5px 10px;
  font-size: 11px;
  color: #868f9b;
  line-height: 16px;
  border: 1px solid #cbcfd4;
  border-right: none;
}
.assessment-boxes .pagination ul li a:hover {
  background-color: #cbcfd4;
}
.assessment-boxes .pagination ul li a.active {
  background-color: #cbcfd4;
  color: black;
}
.assessment-boxes .pagination ul li a.deactive {
  background-color: white;
  color: black;
}
.assessment-boxes .pagination ul li a.desable {
  background-color: #5e5757;
  color: white;
}
.assessment-boxes .pagination ul li a.enable {
  background-color: #3b4859;
  color: #ffffff;
}
.assessment-boxes .pagination ul li.previous a {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.assessment-boxes .pagination ul li.next a {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #cbcfd4;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.there-no-data {
  text-align: center;
  padding-top: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.environment-text {
  color: #3b4859;
  font-weight: 16px;
  line-height: 20px;
  font-weight: 600;
}

.modal-container
  .modal-body
  .compliance-account
  .compliance-account-heading
  strong {
  font-size: 14px;
  color: #3b4859;
  line-height: 18px;
  font-weight: 500;
}

.modal-container
  .modal-body
  .compliance-account
  .compliance-account-heading
  .search-control-group {
  position: relative;
  width: 250px;
}
.modal-container
  .modal-body
  .compliance-account
  .compliance-account-heading
  .search-control-group
  .input-group-text {
  max-width: 100%;
  text-align: left;
  padding-left: 35px;
  width: 100%;
  border: 1px solid #8392a7;
  background-color: #ffffff;
  font-size: 13px;
  color: #8998ac;
  font-weight: 400;
  height: 36px;
}
.modal-container
  .modal-body
  .compliance-account
  .compliance-account-heading
  .search-control-group
  button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

.modal-container .modal-body .compliance-account-box {
  border: 1px solid #979797;
  background-color: #f8f9fb;
  padding: 20px 30px;
  font-size: 13px;
  color: #414d55;
  font-weight: 500;
  line-height: 18px;
}
.modal-container .modal-body .compliance-account-box h5 {
  display: block;
  margin-bottom: 25px;
  font-size: 13px;
  color: #414d55;
  font-weight: 500;
  line-height: 18px;
}
.modal-container .modal-body .compliance-account-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
}
.modal-container .modal-body .compliance-account-box ul li {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.modal-container .modal-body .compliance-account-box ul li:nth-child(even) {
  background-color: #ffffff;
}
.modal-container .modal-body .compliance-account-box .pointer-label {
  position: relative;
  padding-left: 22px;
}
.modal-container .modal-body .compliance-account-box .pointer-label .checkbox {
  position: absolute;
  left: 0;
  top: 3px;
}

.modal-container .modal-body .next {
  border-top: 1px dashed #a2c0d4;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 20px;
}
.modal-container .modal-body .next .blue-button {
  border-radius: 8px !important;
}

@media (max-width: 1200px) {
  .filter-container .assessments {
    float: left;
  }
}

@media (max-width: 767px) {
  .assessment-boxes .heading .heading-left {
    width: 100%;
  }
  .assessment-boxes .heading .heading-right {
    width: 100%;
    text-align: left;
  }
  .assessment-boxes .search-box .search-control-group {
    width: 100%;
  }
  .assessment-boxes .framework-box {
    display: grid;
  }
  .assessment-boxes .framework-box .framework-inner {
    overflow-x: scroll;
  }
  .assessment-boxes .framework-box .framework-inner .framework-table {
    width: 1000px;
  }
}

.filter-container .filter-control-group {
  max-width: 250px;
  padding-left: 0px;
}
.filter-container .filter-control-group.clear-filters {
  margin-top: 23px;
  position: relative;
  padding-bottom: 0;
}
.filter-container .filter-control-group.clear-filters label:after {
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  content: "";
  background-color: #f0f3f7;
  z-index: 0;
  position: absolute;
  border-radius: 3px;
}
.filter-container .filter-control-group.clear-filters label span {
  display: inline-block;
  padding-left: 45px;
  color: #3b4859;
  vertical-align: middle;
  padding-top: 0;
  cursor: pointer;
  position: relative;
  line-height: 35px;
}
.filter-container .filter-control-group.clear-filters label span:before {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(-45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group.clear-filters label span:after {
  content: "";
  width: 1px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 17px;
  background: #333;
  opacity: 1;
  transform: rotate(45deg);
  cursor: pointer;
  z-index: 1;
}
.filter-container .filter-control-group .form-control {
  background-color: #f0f3f7 !important;
  border: none !important;
  font-size: 12px;
  cursor: pointer;
  height: 35px;
}
.filter-container .filter-control-group label {
  color: #3b4859;
  padding-bottom: 3px;
  font-size: 12px;
}

.filter-container .table-data-label {
  margin-top: 20px;
  border-bottom: solid 1px #eff2f7;
}
.filter-container .table-data-label span {
  font-size: 16px;
  font-family: Montserrat;
  color: #3b4859;
  padding-top: 40px;
}
.filter-container .table-data-label .blue-button {
  float: right;
}

.results-container .heading {
  border-bottom: 1px solid #d9e4f2;
}
.results-container .heading h3 {
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
  color: #3b4859;
}

.results-container .search-box .search-control-group {
  position: relative;
  width: 300px;
}
.results-container .search-box .search-control-group .input-group-text {
  max-width: 100%;
  text-align: left;
  padding-left: 35px;
  width: 100%;
  border: 1px solid #8392a7;
  background-color: #ffffff;
  font-size: 13px;
  color: #8998ac;
  font-weight: 400;
  height: 36px;
}
.results-container .search-box .search-control-group button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

.results-container .search-box .file-export {
  position: relative;
}
.results-container .search-box .file-export a {
  padding: 5px 10px 4px !important;
  min-width: auto;
}
.results-container .search-box .file-export .file-export-toggle {
  display: none;
  position: absolute;
  right: 0px;
  top: 35px;
  z-index: 1;
  background-color: #e6e6e6;
  width: 230px;
  padding: 5px;
  text-align: left;
}
.results-container .search-box .file-export .file-export-toggle.active {
  display: block;
}
.results-container .search-box .file-export .file-export-toggle ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.results-container .search-box .file-export .file-export-toggle ul li {
  font-size: 12px;
  line-height: 20px;
  color: #3b4859;
  font-weight: 500;
  display: block;
  padding-bottom: 3px;
}
.results-container .search-box .file-export .file-export-toggle ul li img {
  max-width: 20px;
  height: auto;
}

.exclusion-details {
  display: grid;
}
.exclusion-details .container-inner {
  overflow-x: scroll;
}
.exclusion-details .container-inner .exclusion-data-table {
  width: 1280px;
  background-color: #ffffff;
  font-size: 13px;
}
.exclusion-details .container-inner .exclusion-data-table tr th {
  padding: 8px 10px 8px 10px;
  color: #3b4859;
}
.exclusion-details .container-inner .exclusion-data-table tr td {
  padding: 8px 10px 8px 10px;
  color: #3b4859;
}
.exclusion-details .container-inner .exclusion-data-table tr:nth-child(even) {
  background-color: #f8f9fb;
}
.exclusion-details .container-inner .exclusion-data-table .pointer-label {
  position: relative;
  padding-left: 22px;
}
.exclusion-details
  .container-inner
  .exclusion-data-table
  .pointer-label
  .checkbox {
  position: absolute;
  left: 0;
  top: 3px;
}
.exclusion-details .container-inner .exclusion-data-table .btn-link {
  color: #3b7cff !important;
  padding: 0 5px;
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
}
.exclusion-details .container-inner .exclusion-data-table .btn-link:last-child {
  padding-top: 4px;
}
.exclusion-details
  .container-inner
  .exclusion-data-table
  .btn-link:first-child {
  padding-top: 3px;
}

@media (max-width: 767px) {
  .results-container .exclusion-button {
    text-align: left;
  }
  .results-container .search-box .search-control-group {
    width: 100%;
  }
}

.results-container .heading {
  border-bottom: 1px solid #d9e4f2;
}
.results-container .heading h2 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #3b4859;
  margin-bottom: 3px;
}
.results-container .heading p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #3b4859;
  margin-bottom: 5px;
}
.results-container .heading .back-button i {
  font-size: 18px;
  vertical-align: top;
  padding-top: 1px;
  padding-right: 3px;
}

.results-container .results-left-chart {
  width: 43%;
}
.results-container .results-left-chart .chart-box {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 3px;
}
.results-container .results-left-chart .chart-box .heading {
  padding: 7px 10px;
  background-color: rgba(129, 170, 225, 0.2);
  border-bottom: 1px solid #f0f3f7;
}
.results-container .results-left-chart .chart-box .heading strong {
  font-size: 13px;
  line-height: 20px;
  color: #3b4859;
  font-weight: 500;
}
.results-container .results-left-chart .chart-box .chart-inner {
  background: #f0f3f7;
  padding: 10px;
  height: 120px;
  overflow: hidden;
  position: relative;
}
.results-container .results-left-chart .chart-box .chart-inner .progress-text {
  font-size: 11px;
  color: #3c495a;
  line-height: 18px;
  padding-top: 25px;
  padding-bottom: 5px;
}
.results-container .results-left-chart .chart-box .chart-inner .progress {
  background-color: #3c495a;
  border-radius: 6px;
  height: 13px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.results-container
  .results-left-chart
  .chart-box
  .chart-inner
  .progress
  .progress-bar {
  background-color: #15c64c;
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
}
.results-container .results-left-chart .chart-box.green-chart .heading {
  background-color: #15c64c;
}
.results-container .results-left-chart .chart-box.green-chart .heading strong {
  color: #ffffff;
}
.results-container .results-left-chart .chart-box.green-chart .chart-inner {
  background-color: #15c64c;
}

.results-container .results-right-chart {
  width: 55%;
}
.results-container .results-right-chart .map-box {
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}
.results-container .results-right-chart .map-box .heading {
  padding: 7px 10px;
  background-color: rgba(129, 170, 225, 0.2);
  border-bottom: 1px solid #f0f3f7;
}
.results-container .results-right-chart .map-box .heading strong {
  font-size: 13px;
  line-height: 20px;
  color: #3b4859;
  font-weight: 500;
}
.results-container .results-right-chart .map-box .map-inner {
  background: #f0f3f7;
  padding: 0;
  height: 290px;
}

.filter-container .filter-control-group {
  max-width: 100%;
  padding-left: 0px;
}
.filter-container .filter-control-group .form-control {
  background-color: #f0f3f7 !important;
  border: none !important;
  font-size: 12px;
  cursor: pointer;
  height: 35px;
}
.filter-container .filter-control-group label {
  color: #3b4859;
  padding-bottom: 3px;
  font-size: 12px;
}

.filter-container .search-control-group {
  position: relative;
  width: 100%;
  margin-top: 22px;
}
.filter-container .search-control-group .input-group-text {
  max-width: 100%;
  text-align: left;
  padding-left: 35px;
  width: 100%;
  border: 1px solid #8392a7;
  background-color: #ffffff;
  font-size: 13px;
  color: #8998ac;
  font-weight: 400;
  height: 36px;
}
.filter-container .search-control-group button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
}

.filter-container .showing-showing-text {
  border-bottom: 1px solid #d9e4f2;
}
.filter-container .showing-showing-text h3 {
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
  color: #3b4859;
}

.filter-container .credentials-box .heading {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 33px;
  padding: 0 10px;
  border-radius: 10px 0px 0px 0px;
}

.filter-container .credentials-box.failed .heading {
  background-color: #e31335;
}

.filter-container
  .credentials-box.failed
  .credential
  .tasted-boxes
  .tasted-box
  span.non-complaint {
  background-color: #e31335;
}

.filter-container .credentials-box.passed .heading {
  background-color: #15c64c;
}

.filter-container
  .credentials-box.passed
  .credential
  .tasted-boxes
  .tasted-box
  span.non-complaint {
  background-color: #15c64c;
}

.filter-container .credentials-box .credential {
  background: #f0f3f7;
  border-radius: 0px 10px 10px 10px;
}
.filter-container .credentials-box .credential .credential-text {
  color: #3c495a;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}
.filter-container .credentials-box .credential p {
  color: #3c495a;
  font-size: 11px;
  line-height: 14px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 5px;
}
.filter-container .credentials-box .credential .tasted-boxes .tasted-box {
  background-color: #d9e4f2;
  position: relative;
  padding-left: 45px;
  color: #3c495a;
  font-size: 14px;
  line-height: 36px;
  width: 205px;
  margin-right: 10px;
}
.filter-container .credentials-box .credential .tasted-boxes .tasted-box span {
  background-color: #3c495a;
  color: #ffffff;
  height: 36px;
  width: 36px;
  text-align: center;
  font-size: 12px;
  line-height: 36px;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 0;
}
.filter-container .credentials-box .credential .credential-bottom-text {
  color: #3c495a;
  background-color: #d9e4f2;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  padding: 0 50px 0 10px;
}
.filter-container .credentials-box .credential .high-expand {
  text-align: right;
}
.filter-container .credentials-box .credential .high-expand .high {
  display: inline-block;
  background-color: #ff8f00;
  width: 86px;
  height: 36px;
  color: #3c495a;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
}
.filter-container .credentials-box .credential .high-expand .expand {
  display: inline-block;
  background-color: #d9e4f2;
  width: 86px;
  height: 36px;
  color: #3c495a;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.filter-container .progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width 0.6s ease;
}

.filter-container .pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.filter-container .pagination ul li {
  display: inline-block;
}
.filter-container .pagination ul li a {
  display: block;
  padding: 5px 10px;
  font-size: 11px;
  color: #868f9b;
  line-height: 16px;
  border: 1px solid #cbcfd4;
  border-right: none;
}
.filter-container .pagination ul li a:hover {
  background-color: #cbcfd4;
}
.filter-container .pagination ul li a.active {
  background-color: #cbcfd4;
  color: black;
}
.filter-container .pagination ul li a.deactive {
  background-color: white;
  color: black;
}
.filter-container .pagination ul li a.desable {
  background-color: #5e5757;
  color: white;
}
.filter-container .pagination ul li a.enable {
  background-color: #3b4859;
  color: #ffffff;
}
.filter-container .pagination ul li.previous a {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.filter-container .pagination ul li.next a {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid #cbcfd4;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media only screen and (max-width: 1200px) {
  .results-container .results-left-chart {
    width: 100%;
  }
  .results-container .results-right-chart {
    width: 100%;
    margin-bottom: 20px;
  }
  .filter-container .credentials-box .credential .tasted-boxes .tasted-box {
    font-size: 12px;
    width: 31%;
  }
}

@media only screen and (max-width: 992px) {
  .results-container .results-left-chart .chart-box .chart-inner {
    height: 145px;
  }
  .filter-container .credentials-box .credential .tasted-boxes .tasted-box {
    font-size: 10px;
    width: 46%;
    margin-bottom: 5px;
  }
  .filter-container .filter-control-group {
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .results-container .results-left-chart .chart-box {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .results-container .results-left-chart .chart-box .chart-inner {
    height: auto;
  }
  .filter-container .filter-control-group {
    padding-bottom: 10px;
  }
  .filter-container .credentials-box .credential .high-expand {
    text-align: left;
  }
  .filter-container .credentials-box .credential .credential-bottom-text {
    padding: 0 10px;
  }
}

.modal-container {
  max-width: 800px !important;
  box-shadow: 0px 0px 16px #3b48593d;
  border-radius: 10px;
  background: white;
}
.modal-container .modal-content {
  padding: 30px;
}
.modal-container .modal-content .modal-header {
  background: white;
  box-shadow: none;
  border-bottom: 1px dashed #a2c0d4;
  margin-bottom: 20px;
  padding: 0 10px 10px;
}
.modal-container .modal-content .modal-header .modal-title {
  color: #3b4859;
  float: left;
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  line-height: 28px;
}
.modal-container .modal-content .modal-header button {
  float: right;
  font-size: 28px;
  top: 0;
  position: relative;
  color: #ffffff;
  opacity: 1;
  width: 28px;
  height: 28px;
  background-color: red;
  border-radius: 50%;
  border: none;
  line-height: 28px;
  text-align: center;
}
.modal-container .modal-content .modal-body {
  padding: 0px 10px;
  color: #3b4859;
}
.modal-container .modal-content .modal-body p {
  font-style: italic;
}
.modal-container .modal-content .modal-body .form-group {
  padding-bottom: 20px;
}
.modal-container .modal-content .modal-body .form-group label {
  font-size: 13px;
  font-weight: 500;
  line-height: 36px;
  color: #3b4859;
  padding-right: 20px;
}
.modal-container .modal-content .modal-body .form-group .form-control {
  background-color: #f0f3f7 !important;
  border: none !important;
  font-size: 13px;
  height: 36px;
}
.modal-container .modal-content .modal-body .form-group .input-group-text {
  background-color: #ffffff;
  border: 1px solid #8392a7;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 34px;
  color: #3b4859;
  padding: 0 10px;
  width: 100%;
  text-align: left;
}
.modal-container .modal-content .modal-body .form-group .checkbox {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
  margin-top: -4px;
}
.modal-container .modal-content .modal-body .form-group textarea.form-control {
  height: 120px;
}
.modal-container .modal-content .modal-body .form-group .select-rule {
  margin-top: 10px;
  margin-left: 30px;
}
.modal-container .modal-content .modal-footer {
  padding: 20px 15px 0px;
  background: none;
  border: none;
  border-top: 1px dashed #a2c0d4;
}
.modal-container .modal-content .modal-footer .blue-button {
  border-radius: 7px !important;
}

/*************************** Wizard ********************/
.wizard-container {
  margin-right: 20px;
}

.wizard-step-line-container {
  padding: 5px;
  background-color: #f8f9fb;
}
.wizard-step-line-container .wizard-step-button {
  display: inline-block;
  width: 33.33%;
  border-top: 1px solid #707070b5;
  border-bottom: 1px solid #707070b5;
  background-color: #dde4e9;
  font-size: 12px;
  line-height: 20px;
  padding: 5px 0;
  text-align: center;
  color: #414d55;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.wizard-step-line-container .wizard-step-button:last-child {
  border-right: 1px solid #707070b5;
}
.wizard-step-line-container .wizard-step-button:first-child {
  border-left: 1px solid #707070b5;
}
.wizard-step-line-container .wizard-step-button:hover {
  background-color: #efefef;
  color: #2662f0;
}
.wizard-step-line-container .wizard-step-button.active {
  background-color: #ffffff;
  color: #2662f0;
}
.wizard-step-line-container .wizard-step-button:after {
  position: absolute;
  top: 1px;
  right: -27px;
  content: "";
  border: solid transparent;
  border-color: rgba(221, 228, 233, 0);
  border-left-color: #dde4e9;
  border-width: 14px;
  margin-top: 0px;
  width: 0;
  height: 0;
  z-index: 1;
}
.wizard-step-line-container .wizard-step-button:before {
  position: absolute;
  top: 1px;
  right: -28px;
  content: "";
  border: solid transparent;
  border-color: rgba(159, 163, 165, 0);
  border-left-color: #9fa3a5;
  border-width: 14px;
  margin-top: 0px;
  width: 0;
  height: 0;
  z-index: 1;
}
.wizard-step-line-container .wizard-step-button:hover:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #efefef;
}
.wizard-step-line-container .wizard-step-button.active:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
}
.wizard-step-line-container .wizard-step-button:hover:before {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #efefef;
}
.wizard-step-line-container .wizard-step-button.active:before {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #ffffff;
}
.wizard-step-line-container .wizard-step-button:last-child:after,
.wizard-step-line-container .wizard-step-button:last-child:before {
  display: none;
}

.wizard-step-component {
  padding: 20px 0px;
  display: block;
}
.wizard-step-component.d-none {
  display: none;
}

/*# sourceMappingURL=compliancemanager.light.css.map */
